# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build outputs
dist
dist-ssr
*.local
build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Android specific
android/.gradle
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/
android/app/release/
android/local.properties
android/app/src/main/assets/public
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json

# iOS specific
ios/App/build/
ios/App/Pods/
ios/App/App/public
ios/App/App/capacitor.config.json
ios/App/App/capacitor.plugins.json

# Capacitor
.capacitor/

# Misc
.cache/
terminal
